/*Ramsey*/
.avatar-large[style*="214764719326756865"],
.avatar-small[style*="214764719326756865"],
div.avatar-popout.stop-animation[style*="214764719326756865"], .animate[style*="214764719326756865"] {
    background-image:url("https://media.giphy.com/media/pqy2sXSEDqDMA/giphy.gif")!important;
    background-size: 100% 100% !important;
}
/*Cryanide*/
.avatar-large[style*="171015121135468545"],
.avatar-small[style*="171015121135468545"],
div.avatar-popout.stop-animation[style*="171015121135468545"], .animate[style*="171015121135468545"] {
    background-image:url("https://media.giphy.com/media/xUA7aWZsSzxiXu3ucU/giphy.gif")!important;
    background-size: 100% 100% !important;
}
/*Plant*/
.avatar-large[style*="225689456844341248"],
.avatar-small[style*="225689456844341248"],
div.avatar-popout.stop-animation[style*="225689456844341248"], .animate[style*="225689456844341248"] {
    background-image:url("https://media.giphy.com/media/l4FGx1dgaoMUw48sU/giphy.gif")!important;
    background-size: 100% 100% !important;
}
/*Younes*/
.avatar-large[style*="170655027340247040"],
.avatar-small[style*="170655027340247040"],
div.avatar-popout.stop-animation[style*="170655027340247040"],
.animate[style*="170655027340247040"] {
    background-image:url("https://i.giphy.com/fTrfQFREfupR6.gif")!important;
    background-size: 100% 100% !important;
}
/*Aeti*/
.avatar-large[style*="218302463319474176"],
.avatar-small[style*="218302463319474176"],
div.avatar-popout.stop-animation[style*="218302463319474176"], .animate[style*="218302463319474176"] {
    background-image:url("https://media.giphy.com/media/3o7bu7qwkGhU9eG93O/giphy.gif")!important;
    background-size: 100% 100% !important;
}
/*Pat*/
.avatar-large[style*="170695871510347778"],
.avatar-small[style*="170695871510347778"],
div.avatar-popout.stop-animation[style*="170695871510347778"],
.animate[style*="170695871510347778"] {
    background-image:url("https://media.giphy.com/media/xUPGcu9MlsbYAeJFIY/giphy.gif")!important;
    background-size: 100% 100% !important;
}
/*dremix*/
.avatar-large[style*="151128198942294016"],
.avatar-small[style*="151128198942294016"],
div.avatar-popout.stop-animation[style*="151128198942294016"], 
.animate[style*="151128198942294016"] {
    background-image:url("https://media.giphy.com/media/3oKIPEaa2F1inSOSdi/giphy.gif")!important;
    background-size: 100% 100% !important;
}
/*Tary*/
.avatar-large[style*="196017750194388992"],
.avatar-small[style*="196017750194388992"],
div.avatar-popout.stop-animation[style*="196017750194388992"], 
.animate[style*="196017750194388992"] {
    background-image:url("https://media.giphy.com/media/8J92cTDrSWUjm/giphy.gif")!important;
    background-size: 100% 100% !important;
}
/*Rain*/
.avatar-large[style*="231791713012678656"],
.avatar-small[style*="231791713012678656"],
div.avatar-popout.stop-animation[style*="231791713012678656"], 
.animate[style*="231791713012678656"] {
    background-image:url(" https://media.giphy.com/media/l4FGlIN85blH3a5fa/giphy.gif")!important;
    background-size: 100% 100% !important;
}
/*Doss*/
.avatar-large[style*="140623612028649472"],
.avatar-small[style*="140623612028649472"],
div.avatar-popout.stop-animation[style*="140623612028649472"], 
.animate[style*="140623612028649472"] {
    background-image:url("https://media.giphy.com/media/xUA7aOnzcmvmO9BEKk/giphy.gif")!important;
    background-size: 100% 100% !important;
}
/*DT*/
.avatar-large[style*="215598192106930176"],
.avatar-small[style*="215598192106930176"],
div.avatar-popout.stop-animation[style*="215598192106930176"],
.animate[style*="215598192106930176"] {
    background-image:url("https://s-media-cache-ak0.pinimg.com/originals/e5/70/c6/e570c6b6ed71d7668c651bb575035cf0.gif")!important;
    background-size: 100% 100% !important;
}
/*Shigan*/
.avatar-large[style*="241280028438953994"],
.avatar-small[style*="241280028438953994"],
div.avatar-popout.stop-animation[style*="241280028438953994"], .animate[style*="241280028438953994"] {
    background-image:url("https://media.giphy.com/media/xUPGcFPqnQ4ic0jWE0/giphy.gif")!important;
    background-size: 100% 100% !important;
}
